In [ ]:
#1. import the neccessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#2. read the data sets provided

train_df = pd.read_csv('train_walmart.csv')
features_df = pd.read_csv("features.csv")
stores_df = pd.read_csv("stores.csv")

In [ ]:
#3. checking for null values

train_df.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64

In [ ]:
features_df.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [ ]:
stores_df.isnull().sum()

Store    0
Type     0
Size     0
dtype: int64

In [ ]:
#3.1 checking the data types

features_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [ ]:
stores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [ ]:
#4.  join the data sets on the basis of common columns (here inner join is done)
#Note: check the data type of the column being used as the basis of join (it should be same in both the tables)

dataset_fs = features_df.merge(stores_df,how='inner',on='Store')

In [ ]:
#4.1 checking the rows and columns if the join is done correctly or not

features_df.shape

(8190, 12)

In [ ]:
stores_df.shape

(45, 3)

In [ ]:
dataset_fs.shape

(8190, 14)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [ ]:
dataset_fs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8190 entries, 0 to 8189
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
 12  Type          8190 non-null   object
 13  Size          8190 non-null   int64
dtypes: bool(1), float64(9), int64(2), object(2)
memory usage: 903.8+ KB

In [ ]:
# here changing the data type of 'Date' col from object to proper date so that we can get better info

from datetime import datetime
dataset_fs['Date'] = pd.to_datetime(dataset_fs['Date'])
train_df['Date'] = pd.to_datetime(train_df['Date'])

In [ ]:
# merging the datasets into one big dataset 

df = train_df.merge(dataset_fs, how='inner',on = ['Store','Date','IsHoliday'])

In [ ]:
train_df.shape

(421570, 5)

In [ ]:
df.shape

(421570, 16)

In [ ]:
#5. making new columns which can help give us more info

df['Week'] = df.Date.dt.isocalendar().week
df['Year'] = df.Date.dt.isocalendar().year

In [ ]:
df.shape

(421570, 18)

In [ ]:
#6. make neccessary functions which can be needed frequently

def scatter_func(dataframe,col1,col2):
    plt.figure(figsize=(12,8))
    plt.scatter(dataframe[col1],dataframe[col2])
    plt.xlabel(col1)
    plt.ylabel(col2)

In [ ]:
df.Year.value_counts()

2011    153453
2010    140679
2012    127438
Name: Year, dtype: Int64

In [ ]:
weekly_sales_2010=df[df['Year']==2010].groupby(['Week'])['Weekly_Sales'].mean()

In [ ]:
sns.lineplot(weekly_sales_2010.index,weekly_sales_2010.values,color='red')

In [ ]:
weekly_sales_2011=df[df['Year']==2011].groupby(['Week'])['Weekly_Sales'].mean()

In [ ]:
sns.lineplot(weekly_sales_2011.index,weekly_sales_2011.values,color='blue')

In [ ]:
weekly_sales_2012=df[df['Year']==2012].groupby(['Week'])['Weekly_Sales'].mean()

In [ ]:
sns.lineplot(weekly_sales_2012.index,weekly_sales_2012.values,color='green')

In [ ]:
plt.figure(figsize=(20,12))
sns.lineplot(weekly_sales_2010.index,weekly_sales_2010.values,color='red')
sns.lineplot(weekly_sales_2011.index,weekly_sales_2011.values,color='blue')
sns.lineplot(weekly_sales_2012.index,weekly_sales_2012.values,color='green')
plt.grid()
plt.title('Average Weekly Sales per Year',fontsize=30)
plt.ylabel('Sales',fontsize=20)
plt.xlabel('Weeks',fontsize=20)
plt.xticks(np.arange(1,60,step=1))
plt.legend(['2010','2011','2012'])

In [ ]:
sns.distplot(df['Weekly_Sales'])

In [ ]:
sns.boxplot(x='Type',y='Size',df)

In [ ]:
weekly_sales_store=df.groupby(['Store'])['Weekly_Sales'].mean()

In [ ]:
weekly_sales_store.sort_values(ascending=False)

#or

pd.DataFrame(weekly_sales_store).sort_values(by='Weekly_Sales', ascending=False).style.bar()

In [ ]:
len(df.Store.unique())

In [ ]:
plt.figure(figsize=(20,12))
sns.barplot(weekly_sales_2010.index,weekly_sales_2010.values,palette='dark')
plt.grid()
plt.title('Average Weekly Sales per Year',fontsize=30)
plt.ylabel('Sales',fontsize=20)
plt.xlabel('Stores',fontsize=20)
plt.xticks(np.arange(1,60,step=1))
plt.legend(['2010','2011','2012'])

In [ ]:
weekly_sales_dept=df.groupby(['Dept'])['Weekly_Sales'].mean()

plt.figure(figsize=(20,12))
sns.barplot(weekly_sales_dept.index,weekly_sales_dept.values,palette='dark')
plt.grid()
plt.title('Average Weekly Sales per Dept',fontsize=30)
plt.ylabel('Sales',fontsize=20)
plt.xlabel('Dept',fontsize=20)

In [ ]:
weekly_sales_dept.sort_values(ascending=False)

In [ ]:
plt.figure(figsize=(20,8))
sns.heatmap(df.corr(),cmap='viridis',linewidth=2,linecolor='black',annot=True)
#sns.heatmap(df.corr(),cmap='coolwarm',linewidth=2,linecolor='black',annot=True)
#sns.heatmap(df.corr(),vmin=0.5,center=None,cmap='greens',linewidth=2,linecolor='black',annot=True)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)

In [ ]:
df[df['Store'].isin([20,4,14,13,2])]['Type'].value_counts()

In [ ]:
df[df['Store'].isin([33,5,44,3,38])]['Type'].value_counts()

In [ ]:
a=df.groupby(['Type'])['Weekly_Sales'].mean()
sns.barplot(a.index,a.values)